.calcistyle {
    width: 200px;
    height:160px;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.calbutton {
    margin: 5px;
    border-radius: 10px;
}

